body {
font-family: Arial, sans-serif;
margin-left: 30px;
    overflow: hidden;

}
#me {
width: 100px;

}
ul {
list-style-type: none;
}


#contents {
background-color: black;
width: 700px;
height: 500px;
}

#container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid green;
  }
  
  #navDiv, #introduction, #contents {
    position: absolute;

    

  }
  
 #introduction {
    top: 0;
    left: 0;
    width: 600px;
  }
  
  #navDiv {
    bottom: 0;
    left: 0;
    margin-right: 100px;
    top: 230px;
  }
  
  #contents {
    position: absolute;
    margin-top: 100px;
    top: 0;
    left: calc(400% + 40px); /* Adjusted left value */
    transform: translate(-50%, 0) scale(1.5);
  }
  
  /*    line-height: 100px;
    font-size: 24px;
