body {
font-family: Arial, sans-serif;
margin-left: 30px;
}
#me {
width: 100px;

}
ul {
list-style-type: none;
}


#contents {
background-color: black;
width: 800px;
height: 600px;
}


#container {
display: flex;
justify-content: space-between;

}
.navDiv {
margin-right: 200px;
}