html,body {
    height: 99.5%;
    margin: 0;
    
  }
  body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
  #container {
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid black;
    display: flex;
    height: 100%;
    }
    #introduction {
    text-align: center;
    font-size: 12px;
  }
  h1 {
    padding: 4px;
  }
  #me {
    width: 100px;
    margin-top: 10px;
    
    }
    
  #contents {
    text-align: center;
    width: 1006px;
  }