html,body {
  height: 99.5%;
  margin: 0;
}
.overflow {
  overflow: hidden;
}
#container {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  height: 1000px;
  
  }
#introduction {
  text-align: center;
  font-size: 12px;
}
h1 {
  padding: 4px;
}
h2 {
  font-size: 30px;
  margin: 0;
}
.h2 {
  margin-top: 20px;
  }
#h2 {
  margin-bottom: 100px;
}
#me {
  font-weight: 10;
  width: 100px;
  margin-top: 10px;
  }
p {
  justify-content: center;
}
.txt {
  font-size: 20px;
}
#contents {
  text-align: center;
  width: 77% ;
  height: 1100px;
}
#homepage_h2 {
  margin-top: 20%;
  text-align: center;
}

/*About Page*/
#background {
  margin-top: 20px;
}
.aboutTxt {
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.5;
  font-size: 18px;
}
/*Skills Page*/
.logo {
  width: 60px;
  padding-top: 20px;
}
.flex {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 12px;
}
.progName {
  margin: 5px;
}

/*Projects Page*/
.mTableTxt {
  font-size: 10px;
}
.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.productImg {
  width: 200px;
  transition: transform 0.3s;

}

.zoom-img-container{
  margin-top: 50px;
  flex: 25%;
  
}
.zoom-img-container .productImg{
  transition: transform 0.3s;
}
.zoom-img-container .productImg:hover{
  transform: scale(2.5);
}



.projectLinks {
  line-height: 2.2;
  border: 2px solid rgb(194, 194, 194);
  padding: 3px;
}
.projectLinks:hover {
  text-decoration: underline;
}

/*Contact Page*/

#emailContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.contact {
  font-size: 20px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

#linkedInContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

#phoneContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
a {
color: black;
text-decoration: none;
}
