html,body {
  height: 99.5%;
  margin: 0;
}
#container {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  height: 100%;
  
  }
#introduction {
  text-align: center;
  font-size: 12px;
}
h1 {
  padding: 4px;
}
h2 {
  font-size: 30px;
  margin: 0;
}
#me {
  font-weight: 10;
  width: 100px;
  margin-top: 10px;
  
  }
p {
  justify-content: center;
}
.txt {
  font-size: 20px;
}
#contents {
  text-align: center;
  width: 77% ;
}
#homepage_h2 {
  margin-top: 20%;
  text-align: center;
}
/*Skills Page*/
.logo {
  width: 60px;
  padding-top: 20px;
}
.flex {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 12px;
}
.progName {
  margin: 5px;
}

/*Projects Page*/
.mTableTxt {
  font-size: 10px;
}
.productImg {
  width: 200px;
}
#multiplicationTableJs {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 20px;
}
.projectLinks {
  line-height: 2;
  
}
.projectLinks:hover {
  text-decoration: underline;
}

/*Contact Page*/
#emailContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.contact {
  font-size: 20px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

#linkedInContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

#phoneContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
a {
color: black;
text-decoration: none;
}
