
nav {
padding: 0;
display: flex;
justify-content: center;
}

.navbar {
    text-decoration: none;
    position: relative;
    color:  black;
    padding: 0;
    font-size: larger;
}

#darkModeToggle {
  margin-left: 30%;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    }
    
li {
margin-bottom: 37px;
text-align: center;
}


.current-page {
border-bottom: #8b7b7b solid 2px;
cursor: pointer;

}


.links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(153, 144, 132);
    transition: width 0.4s ease, left 0.4s ease;
  }
  
  .links:hover::after,
  .links:focus::after {
    width: 100%;
    left: 0;
  }
